/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
  height: 12px;
}
.module-spacer--extra-small {
  height: 12px;
}
.module-spacer--small {
  height: 20px;
}
.module-spacer--medium {
  height: 32px;
}

/*********** Header ***********/
.header {
  height: 60px;
  background-color: blue;
  padding-top: 60px;
}

/*********** Section ***********/
.c-main {
  padding: 96px 0;
}
.c-section-wrapin {
  margin: 0 auto;
  max-width: 575px;
  position: relative;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}

.c-section__loading {
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.c-section__loading > p {
  color: #444;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.p-grid__column {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.p-grid__row {
  display: flex;
  flex-flow: row wrap;
}

.p-grid__list-images {
  display: flex;
  flex-flow: wrap;
}

.p-grid__list-images > .p-media__thumb {
  margin: 0.5rem;
  width: calc(50% - 1rem);
}

.p-media__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.p-media__thumb::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.p-media__thumb > img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*********** Footer ***********/
.l-footer {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 1rem;
}

.l-footer > a {
  color: #444;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.u-text-small {
  font-size: 0.9rem;
}

.u-text__link-none {
  text-decoration: none;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text__headline {
  color: #4dd0e1;
  font-size: 1.563rem;
  margin: 0 auto 1rem auto;
}

.u-display-none {
  display: none;
}

@media screen and (min-width: 576px) {
  /*********** Module Spacer ***********/
  .module-spacer--extra-extra-small {
    height: 16px;
  }
  .module-spacer--extra-small {
    height: 20px;
  }
  .module-spacer--small {
    height: 32px;
  }

  /*********** Section ***********/
  .c-section-wrapin {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  /*********** Module Spacer ***********/
  .module-spacer--medium {
    height: 48px;
  }
}

/*********** chat ***********/
.flex {
  display: flex;
}

.chat-rooms-menu {
  width: 20%;
  height: 620px;
  margin-left: 10px;
}

.chat-room-list-container {
  width: 95%;
}

.chat-room-list {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: silver thin solid;
}

.chat-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
  border: silver thin solid;
  border-radius: 50%;
}

.chat-room-name {
  margin: auto 0;
  font-size: 0.8rem;
}

.chat-message-container {
  width: 70%;
  height: 500px;
  margin-top: 5px;
  margin-left: 50px;
}

.my-message-container {
  width: 450px;
  margin: 10px 0 10px auto;
}
.other-message-container {
  width: 450px;
  margin: 10px 0;
}
.my-message-content {
  width: 80%;
  padding: 12px;
  color: white;
  background-color: #14178f;
  border-radius: 30px;
}
.other-message-content {
  width: 80%;
  padding: 12px;
  border: 2px solid #14178f;
  border-radius: 30px;
}
.message-text {
  font-size: 0.8rem;
  word-wrap: break-word;
}
